.statistic_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.statistic_card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-card{
    height: 50px;
    width: 50px;
    padding: 1rem;

}
.text-card{ 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.number-card{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
}
.statistic_card-interaction{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 7px;
}

